// variables will follow

//colors
$body-background-color: #713efa;
$form-background-color: #63a375;
$input-color: #edc79b;
$headlines-color: #d57a66;

//Breakpoints
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;

//mixins
@mixin breakpoint($break) {
    @if $break == large {
    @media (max-width: $break-large) { @content; }
    }
    @else if $break == medium {
    @media (max-width: $break-medium) { @content; }
    }
    @else if $break == small {
    @media (max-width: $break-small) { @content; }
    } @else {
    @media ($break) { @content; }
    }
}  



@mixin flex-container($axis, $wrap: nowrap) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: $axis $wrap;
    -ms-flex-flow: $axis $wrap;
    flex-flow: $axis $wrap;
}
   
@mixin center($mw, $w: 90%) {
  width: $w;
  max-width: $mw;
  margin-left: auto;
  margin-right: auto;
}


body {
    background-color: $body-background-color;
}
#contactform {
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-color;
        flex: 2;
    }
    @include breakpoint(large) {
        @include center(900px, 70%)
    }

    @include breakpoint(medium) {
        @include center(700px)
     }

    @include breakpoint(small) {
        @include center(700px, 100%)
    }
}

fieldset > div {
    @include flex-container(row, wrap);        
}