@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
// Starter Code Above

html,
body {
  margin: 0 ; //auto removed
  padding: 0;
  a {
    text-decoration: none;
  }
}

header {
  margin: 0; //took out auto
  background-color: $byui-blue;
}

.page-wrapper {
  margin: 0 auto;
}

.site-banner {
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 20px;
  margin: 0;
  .site-banner a {
    text-decoration: none;
  }
  .site-banner__left {
    font-size: 2rem;
    background-color: #000000;
    color: #fff;
    text-align: center;
    height: 60px;
    line-height: 60px;
    width: 80px;
  }
  .site-banner__right {
    font-size: 2rem;
    margin-right: 1.5rem;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    width: 125px;
    height: 60px;
  }
}




.icon-byui-logo:before {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  padding: 1rem 1rem;
  }

.mobile-header-icon {
    color: #fff;
    text-decoration:  none;
    justify-content: space-between;
    line-height: 60px;
}

.site-name {
  background-color: $light-gray;
  margin: 0;
  padding: 1rem;
  text-align: right;
  font-size: 1.25rem;
  font-family: 'BYUI Open Sans','sans-serif';
  font-style: normal;
  font-weight: 100;
  border-bottom: 1px solid #000;
}


.image-carousel {
  margin: auto;
  margin-top: 35px;
  width: 96%;
}

figure {
  margin: auto;
  margin-top: 35px;
  width: 96%;
  border: 1px solid $med-gray;
  color: $byui-blue;
  font-family: 'BYUI Open Sans','sans-serif';
  font-size: .95rem;
}

.home-ad-caption {
  padding: 10px;
}

.audience-button {
  margin: auto;
  border: 1px solid $med-gray;
  border-radius: 5px;
  width: 96%;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  margin-top: 35px;
  padding: 10px;
}

.resources-heading {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  padding: 8px 20px;
  background-color: $dark-gray;
  color: #fff;
  width: 96%;
  font-family: 'BYUI Open Sans','sans-serif';
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
}

.h6 {
  margin: 0 auto;
  padding: 10px 20px;
  border-bottom: 1px solid $med-gray;
  border-right: 1px solid $med-gray;
  border-left: 1px solid $med-gray;
  background-color: #f8f9fa;
  color: $byui-blue;
  width: 96%;
  font-family: 'BYUI Open Sans','sans-serif';
  font-size: .95rem;
  font-weight: 400;
}

.important-dates-heading {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  padding: 8px 20px;
  background-color: $byui-blue;
  color: #fff;
  width: 96%;
  font-family: 'BYUI Open Sans','sans-serif';
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
}

.aside-important-dates .h6 {
  color: #000;
  border-right: 0;
  border-left: 0;
  background-color: #fff;
}

.articles-group {
  margin-top: 35px;
  width: 96%;
}
.article {
  margin: auto;
  border-top: 1px solid $dark-gray;
  padding: 25px 0;
  width: 96%;
}

.article-date {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.article-title {
  color: $byui-blue;
  font-family: 'BYUI Open Sans','sans-serif';
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0;
}

.article-abstract {
  font-size: 1.2rem;
}

.newsroom-button {
  float: right;
  margin-right: 7px;
  margin-bottom: 35px;
  background-color: $byui-blue;
  color: #fff;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 6px 24px;
  font-size: .95rem;
  border-radius: 4px;
}

.university-message-heading {
  background-color: $light-gray;
}

.university-message-heading,
.university-message-image {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  padding: 10px;
  color: #000;
  border: 1px solid $dark-gray;
  border-radius: 5px 5px 0 0;
  width: 96%;
  font-family: 'BYUI Open Sans','sans-serif';
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.university-message-image {
  margin-top: 0;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.footer-graphic {
  margin: auto;
  display: block;
  padding: 0;
  max-width: 25%;
}

@media only screen and (min-width: 32em) {

.page-wrapper {
  max-width: 960px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(20px, auto); 
  column-gap: 25px;
}

img.semester-updates{
  width: 100%
}

.banners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.updates {
  display: flex;
  flex: 2 1 300px;
  padding: 15px;
}

 .image-carousel {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.video-gallery-campus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

figure {
  width: 30%;
}

.audience-button {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 20px 10px;
}

.aside-resources {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.aside-important-dates {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.articles-group {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.university-message {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

img.footer-graphic {
  height: 100px;
  max-width: 20%;
}
}